In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [4]:
df = spark.createDataFrame([{"hello":"world"} for x in range(1000)])
df.show(3)

C:\apps\opt\spark\python\pyspark\sql\session.py:346: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+-----+
|hello|
+-----+
|world|
|world|
|world|
+-----+
only showing top 3 rows

In [2]:
#loading the file customers.csv into our Data Frame
df = spark.read.format("csv").option("header", "true").option("inferschema", "true").option("mode", "failfast").load("customers.csv")
df.show()

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|          5|        Robert|        Hudson|     XXXXXXXXX|        XXXXXXXXX|10 Crystal River ...|       Caguas|            PR|             725|
|          6|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|3151 Sleepy Quail...|      Passaic|            NJ|            7055|
|          7|       Melissa|        Wilcox|     XXXXXXXXX|        XXXXXXXXX|9453 High Concession|       Caguas|            PR|             725|
|          8|         Megan|         Smith|     XXXXXXXXX|        XXXXXXXXX|3047 Foggy Forest...|     Lawrence|            MA|            1841|
|          9|          Mary|         Perez|     XXXXXXXXX|        XXXXXXXXX| 3616 Quaking Street|       Caguas|            PR|             725|
|         10|       Melissa|         Smith|     XXXXXXXXX|        XXXXXXXXX|8598 Harvest Beac...|     Stafford|            VA|           22554|
|         11|          Mary|       Huffman|     XXXXXXXXX|        XXXXXXXXX|    3169 Stony Woods|       Caguas|            PR|             725|
|         12|   Christopher|         Smith|     XXXXXXXXX|        XXXXXXXXX|5594 Jagged Ember...|  San Antonio|            TX|           78227|
|         13|          Mary|       Baldwin|     XXXXXXXXX|        XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|            PR|             725|
|         14|     Katherine|         Smith|     XXXXXXXXX|        XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|            CA|           90660|
|         15|          Jane|          Luna|     XXXXXXXXX|        XXXXXXXXX|    673 Burning Glen|      Fontana|            CA|           92336|
|         16|       Tiffany|         Smith|     XXXXXXXXX|        XXXXXXXXX|      6651 Iron Port|       Caguas|            PR|             725|
|         17|          Mary|      Robinson|     XXXXXXXXX|        XXXXXXXXX|     1325 Noble Pike|       Taylor|            MI|           48180|
|         18|        Robert|         Smith|     XXXXXXXXX|        XXXXXXXXX|2734 Hazy Butterf...|     Martinez|            CA|           94553|
|         19|     Stephanie|      Mitchell|     XXXXXXXXX|        XXXXXXXXX|3543 Red Treasure...|       Caguas|            PR|             725|
|         20|          Mary|         Ellis|     XXXXXXXXX|        XXXXXXXXX|      4703 Old Route|West New York|            NJ|            7093|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 20 rows

In [6]:
#creating a temporary view of the data
df.createOrReplaceTempView("customers")

In [7]:
#querying the tempview just created
spark.sql("select count(*) from customers").show()

+--------+
|count(1)|
+--------+
|   12435|
+--------+

In [8]:
#average length of customes' name by state
spark.sql("select avg(character_length(customer_fname)) length_name, customer_state from customers group by customer_state order by length_name").show()

+------------------+--------------+
|       length_name|customer_state|
+------------------+--------------+
| 4.111111111111111|            ID|
| 4.666666666666667|            AL|
| 4.857142857142857|            MT|
| 5.013333333333334|            NC|
| 5.051282051282051|            MN|
| 5.119565217391305|            MO|
| 5.123287671232877|            CT|
| 5.134057971014493|            OH|
| 5.136094674556213|            GA|
| 5.180645161290323|            NY|
| 5.190476190476191|            LA|
| 5.197860962566845|            FL|
| 5.205882352941177|            VA|
|5.2060364703416475|            PR|
| 5.208661417322834|            MI|
|5.2298850574712645|            PA|
| 5.238095238095238|            DC|
| 5.240384615384615|            TN|
| 5.245901639344262|            CO|
|              5.25|            AR|
+------------------+--------------+
only showing top 20 rows

In [9]:
spark.sql("select * from customers where customer_state = 'TX'").show()

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|         12|   Christopher|         Smith|     XXXXXXXXX|        XXXXXXXXX|5594 Jagged Ember...|  San Antonio|            TX|           78227|
|         29|          Mary|      Humphrey|     XXXXXXXXX|        XXXXXXXXX|2469 Blue Brook C...|   Fort Worth|            TX|           76133|
|         82|      Jonathan|          Cook|     XXXXXXXXX|        XXXXXXXXX|    7885 Sleepy Cove|  San Antonio|            TX|           78240|
|         86|          John|         Smith|     XXXXXXXXX|        XXXXXXXXX|8780 Colonial Orc...|   Fort Worth|            TX|           76106|
|         91|        Ashley|         Smith|     XXXXXXXXX|        XXXXXXXXX|   4515 Golden Manor|       Spring|            TX|           77379|
|        126|        Austin|         Smith|     XXXXXXXXX|        XXXXXXXXX|852 Hazy Gate Cir...|     Amarillo|            TX|           79109|
|        151|          Lisa|          Shaw|     XXXXXXXXX|        XXXXXXXXX|9772 Noble Prairi...|     Richmond|            TX|           77469|
|        189|        Angela|      Peterson|     XXXXXXXXX|        XXXXXXXXX|4435 Harvest Appl...|   San Marcos|            TX|           78666|
|        209|        Thomas|         Moore|     XXXXXXXXX|        XXXXXXXXX|      2857 Cozy Mews|   Fort Worth|            TX|           76133|
|        239|          Mary|       Simpson|     XXXXXXXXX|        XXXXXXXXX|5530 Dewy Pioneer...|      Mcallen|            TX|           78501|
|        248|     Christina|         Walsh|     XXXXXXXXX|        XXXXXXXXX|    3836 Stony Point|      Houston|            TX|           77083|
|        252|          Mary|       Frazier|     XXXXXXXXX|        XXXXXXXXX|7126 Shady Bluff ...|   Richardson|            TX|           75080|
|        254|         Diana|          Hale|     XXXXXXXXX|        XXXXXXXXX|5950 Silver Elk L...|  San Antonio|            TX|           78223|
|        274|          Mary|         Moyer|     XXXXXXXXX|        XXXXXXXXX|5120 Indian Pine ...|  San Antonio|            TX|           78240|
|        300|          Mary|           Key|     XXXXXXXXX|        XXXXXXXXX|6630 Umber Dale View|        Plano|            TX|           75093|
|        311|       Michael|      Townsend|     XXXXXXXXX|        XXXXXXXXX|6292 Little Deer ...|       Austin|            TX|           78753|
|        312|          Jack|         Smith|     XXXXXXXXX|        XXXXXXXXX|     2082 Quiet Wynd|      Houston|            TX|           77055|
|        327|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|   4864 Velvet Chase|   Carrollton|            TX|           75007|
|        340|       Theresa|       Wiggins|     XXXXXXXXX|        XXXXXXXXX|2355 Velvet Hicko...|       Denton|            TX|           76201|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 20 rows

In [10]:
spark.sql("select * from customers where customer_state = 'TX' order by customer_id desc").show()

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|      12427|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|3662 Round Barn Gate|        Plano|            TX|           75093|
|      12408|         Randy|          Rice|     XXXXXXXXX|        XXXXXXXXX|   8528 Green Corner|   Fort Worth|            TX|           76106|
|      12381|          Mary|         Olsen|     XXXXXXXXX|        XXXXXXXXX|1208 Cotton Bluff...|       Austin|            TX|           78704|
|      12323|        Steven|         Smith|     XXXXXXXXX|        XXXXXXXXX|8213 Rustic Sprin...|  San Antonio|            TX|           78228|
|      12302|        Donald|       Sampson|     XXXXXXXXX|        XXXXXXXXX|   8550 Red Oak Bank|       Austin|            TX|           78753|
|      12207|          Jose|         Smith|     XXXXXXXXX|        XXXXXXXXX|8473 Crystal Hick...|       Austin|            TX|           78745|
|      12178|          Mary|         Mcgee|     XXXXXXXXX|        XXXXXXXXX| 8736 Old Deer Trail|       Irving|            TX|           75061|
|      12169|          Mary|       Krueger|     XXXXXXXXX|        XXXXXXXXX|9551 Jagged Pond ...|     Mesquite|            TX|           75150|
|      12152|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|9932 Fallen Branc...|    Harlingen|            TX|           78550|
|      12150|          Paul|       Hancock|     XXXXXXXXX|        XXXXXXXXX|    3654 Foggy Byway|       Dallas|            TX|           75211|
|      12146|          Mary|      Mitchell|     XXXXXXXXX|        XXXXXXXXX|2905 Quiet River ...|      Houston|            TX|           77093|
|      12115|      Lawrence|         Smith|     XXXXXXXXX|        XXXXXXXXX|3440 Foggy Autoroute|      Mission|            TX|           78572|
|      12103|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX| 8988 Thunder Circle|   San Benito|            TX|           78586|
|      12063|         Larry|     Henderson|     XXXXXXXXX|        XXXXXXXXX|  248 Cozy Pony Road|   Fort Worth|            TX|           76133|
|      12060|          Mary|      Robinson|     XXXXXXXXX|        XXXXXXXXX|   2805 Silver Glade|  San Antonio|            TX|           78223|
|      12040|        Thomas|         Moore|     XXXXXXXXX|        XXXXXXXXX|4566 Clear Willow...|    Harlingen|            TX|           78550|
|      12020|       Dorothy|         Smith|     XXXXXXXXX|        XXXXXXXXX|      7489 Stony End|        Pharr|            TX|           78577|
|      12010|       Melissa|         Baker|     XXXXXXXXX|        XXXXXXXXX|   1987 Stony Circle|      Del Rio|            TX|           78840|
|      12006|          Anna|         Sharp|     XXXXXXXXX|        XXXXXXXXX|    4148 Stony Swale|     Mesquite|            TX|           75150|
|      11988|          Judy|         Smith|     XXXXXXXXX|        XXXXXXXXX|5002 Easy Island ...|   Round Rock|            TX|           78664|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 20 rows

In [1]:
#LIVE WORKSHOP
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
df = spark.read.format("csv").option("header", "true").option("inferschema", "true").option("mode", "failfast").load("facebook.csv")
df.show(3)

+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
| userid|age|dob_day|dob_year|dob_month|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
|2094382| 14|     19|    1999|       11|  male|   266|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1192601| 14|      2|    1999|       11|female|     6|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|2083884| 14|     16|    1999|       11|  male|    13|           0|                    0|    0|             0|           0|                    0|        0|                 0|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
only showing top 3 rows

In [7]:
#creating a temp view
df.createOrReplaceTempView("fb")

In [8]:
#show the frist 10 rows
spark.sql("select * from fb").show(10)

+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
| userid|age|dob_day|dob_year|dob_month|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
|2094382| 14|     19|    1999|       11|  male|   266|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1192601| 14|      2|    1999|       11|female|     6|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|2083884| 14|     16|    1999|       11|  male|    13|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1203168| 14|     25|    1999|       12|female|    93|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1733186| 14|      4|    1999|       12|  male|    82|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1524765| 14|      1|    1999|       12|  male|    15|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1136133| 13|     14|    2000|        1|  male|    12|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1680361| 13|      4|    2000|        1|female|     0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1365174| 13|      1|    2000|        1|  male|    81|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1712567| 13|      2|    2000|        2|  male|   171|           0|                    0|    0|             0|           0|                    0|        0|                 0|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
only showing top 10 rows

In [10]:
spark.sql("select count(*) from fb").show()

+--------+
|count(1)|
+--------+
|   99003|
+--------+

In [11]:
spark.sql("select avg(age) from fb").show()

+-----------------+
|         avg(age)|
+-----------------+
|37.28022383160106|
+-----------------+

In [14]:
spark.sql("select avg(age), gender from fb group by gender").show()

+------------------+------+
|          avg(age)|gender|
+------------------+------+
| 74.77714285714286|    NA|
|39.459904605753465|female|
| 35.67024618431386|  male|
+------------------+------+

In [15]:
x = spark.sql("select avg(age) from fb").collect()[0][0]
print(x+2)

39.28022383160106

In [17]:
# average of likes received by gender
spark.sql("select avg(likes_received) as avg_likes, gender from fb group by gender order by avg_likes").show()

+------------------+------+
|         avg_likes|gender|
+------------------+------+
| 67.91154778570697|  male|
|157.38285714285715|    NA|
| 251.4354349878273|female|
+------------------+------+

In [18]:
# average of number of friend between 26 and 50 years old
spark.sql("select avg(friend_count) from fb where age >= 26 and age <= 50").show()

+------------------+
| avg(friend_count)|
+------------------+
|113.82846603135567|
+------------------+

In [19]:
#average of likes received by phone and likes received from other sources whose age are between 13 and 25
spark.sql("select avg(mobile_likes), avg(www_likes) from fb where age >= 13 and age <= 25").show()

+------------------+-----------------+
| avg(mobile_likes)|   avg(www_likes)|
+------------------+-----------------+
|123.98981737425284|55.50010631511801|
+------------------+-----------------+

In [20]:
#Average of friends by age in  decrescent age order
df.groupBy("age").avg("friend_count").orderBy("age" ,ascending = False).show()

+---+------------------+
|age| avg(friend_count)|
+---+------------------+
|113|334.66831683168317|
|112|484.94444444444446|
|111|240.22222222222223|
|110|336.73333333333335|
|109|172.88888888888889|
|108| 369.2426249247441|
|107| 363.1020408163265|
|106|           312.096|
|105|          398.5625|
|104| 429.5068493150685|
|103| 462.5057471264368|
|102|446.85026737967917|
|101| 393.6496815286624|
|100| 356.2123076923077|
| 99| 402.7831325301205|
| 98|423.97849462365593|
| 97| 435.2857142857143|
| 96|476.42857142857144|
| 95| 413.3246753246753|
| 94|439.70108695652175|
+---+------------------+
only showing top 20 rows